<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' }}{% else %}English, Teacher, ALT, Education, Chihaya, Nouri{% endif %}">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{% if page.featured_image %}{{ '/images/posts/' | append: page.featured_image | prepend: site.url }}{% else %}{{ site.url }}/images/{{ site.author_image | default: 'aboutPage.jpg' }}{% endif %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{% if page.featured_image %}{{ '/images/posts/' | append: page.featured_image | prepend: site.url }}{% else %}{{ site.url }}/images/{{ site.author_image | default: 'aboutPage.jpg' }}{% endif %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ "/favicon.ico" }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic%7COpen+Sans:400,700,400italic,700italic" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ "/feed.xml" | prepend: site.url }}">
</head>
<body class="fixed-nav">
    <div id="page" class="site">
        {% include header.html %}
        {{content}}
        {% include widgets.html %}
        {% include footer.html %}
    </div><!-- .site -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>
